// SB - Sidebar
// HD - Header
// CT - Content

.layout {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 200px auto;
    grid-template-areas:
        'SB HD'
        'SB CT';
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}