.sidebar {
    grid-area: SB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 0 30px 30px 0;
    background-color: #1B1B23;

    .top {
        width: 100%;
        height: auto;

        .logo {
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            svg {
                width: 40px;
                height: 40px;
                color: #fff;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    color: #36AC00;
                }
            }
        }

        .menu {
            width: 100%;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            button {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                color: #899098;
                background-color: #1B1B23;
                border: none;
                padding: 5px 15px;
                text-align: start;
                border-radius: 10px;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                }

                &.active {
                    background-image: linear-gradient(to right, #039600 , #6CC400);
                    color: #fff;
                }
            }
        }
    }

    .cardFooter {
        width: 100%;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        background-color: #272731;
        border-radius: 10px;
        padding: 15px;
        
        h3 {
            font-size: 14px;
            font-weight: 300;
            color: #fff;
        }
        
        p {
            font-size: 10px;
            color: #899098;
        }

        img {
            width: 130px;
            height: 130px;
            margin-top: -25px;
        }
        
        button {
            width: 90%;
            height: 32px;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            background-image: linear-gradient(to right, #039600 , #6CC400);
            color: #fff;
            border: none;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}